Download video

In [ ]:
VIDEO_URL = "https://www.youtube.com/watch?v=JN3KPFbWCy8"

from pytube import YouTube

yt = YouTube(VIDEO_URL)
yt.streams.filter(progressive=True, file_extension='mp4').order_by('resolution').desc().first().download()

Read in timestamp information (generated externally)

In [1]:
FILENAME = "JN3KPFbWCy8.csv"

import pandas as pd

df = pd.read_csv(FILENAME)

df

,text,start,end,entities,duration,top_three_entities
0,Elon Musk his fourth time on this The,2.040,8.520,"[('Elon Musk', 0, 9, 'PERSON'), ('fourth', 14,...",6.480,"['Elon Musk', 'fourth']"
1,Lex Friedman about the Roman Empire as one Rom...,5.440,193.280,"[('Lex Friedman', 0, 12, 'PERSON'), ('the Roma...",187.840,"['one', 'Society', 'Lex Friedman']"
2,Romans said just War there's no just war,205.120,210.720,"[('Romans', 0, 6, 'NORP')]",5.600,['Romans']
3,yeah chimpan Society is a Like A too many Disn...,213.200,605.600,"[('yeah chimpan Society', 0, 20, 'ORG'), ('Dis...",392.400,"['Israel', 'Gaza', 'Hamas']"
4,gigantic Galactic War where trillions we are a...,602.519,707.680,"[('Galactic War', 9, 21, 'EVENT'), ('one day',...",105.161,"['Galactic War', 'one day', 'Galaxy']"
5,British intelligence in London that's died you...,728.600,769.680,"[('British', 0, 7, 'NORP'), ('London', 24, 30,...",41.080,"['British', 'London', '20 years ago']"
6,actually 30 years ago remember World War II no...,767.079,1368.039,"[('30 years ago', 9, 21, 'DATE'), ('World War ...",600.960,"['one', 'two', 'Ukrainian']"
7,Gap in understanding of each other and you are...,1387.720,1497.919,"[('Gap', 0, 3, 'ORG'), ('American', 11, 19, 'N...",110.199,"['China', 'US', 'Beijing']"
8,um in the Three Kingdoms War I believe,1507.120,1512.919,"[('the Three Kingdoms War', 6, 28, 'EVENT')]",5.799,['the Three Kingdoms War']
9,they lost about 70% of their brutal internal W...,1509.640,1778.120,"[('about 70%', 10, 19, 'PERCENT'), ('brutal in...",268.480,"['China', 'one', 'US']"
10,United States are similar NE neither principle...,1776.279,1854.279,"[('United States', 0, 13, 'GPE'), ('NE', 26, 2...",78.000,"['China', 'Hawaii', 'Taiwan']"
11,they will incorporate Taiwan uh,1851.200,1857.919,"[('Taiwan', 22, 28, 'GPE')]",6.719,['Taiwan']
12,their standpoint is 100% absolutely so in afte...,1860.480,2285.200,"[('100%', 20, 24, 'PERCENT'), ('World War I th...",424.720,"['first', 'Germany', 'World War']"
13,of the big goals of XI is to understand,2283.240,2288.920,"[('XI', 20, 22, 'CARDINAL')]",5.680,['XI']
14,three-word uh,2288.920,2295.119,"[('three', 0, 5, 'CARDINAL')]",6.199,['three']
15,coming up with The Theory of Everything physic...,2310.599,2776.359,"[('The Theory of Everything', 15, 39, 'WORK_OF...",465.760,"['AI', 'first', 'MH']"
16,"archaic pre uniform was the first actual 5,000...",2776.359,2793.760,"[('first', 28, 33, 'ORDINAL'), ('5,000 years',...",17.401,"['first', '5,000 years', '1 millionth']"
17,4 and half billion will heat heat the Earth up...,2812.920,3009.440,"[('4 and half billion', 0, 18, 'MONEY'), ('Ear...",196.520,"['Earth', 'one', '4 and half billion']"
18,the Amazon asking where's,3006.720,3011.400,"[('Amazon', 4, 10, 'ORG')]",4.680,['Amazon']
19,between VAR that wner hog talking about the ju...,3019.480,3038.359,"[('VAR', 8, 11, 'ORG'), ('wner hog', 5, 13, 'O...",18.879,"['wner hog', 'VAR']"
20,yeah it's on YouTube it's it's,3041.119,3047.799,"[('YouTube', 13, 20, 'PRODUCT')]",6.680,['YouTube']
21,bear documentary The Bear documentary like 70 ...,3051.440,3459.599,"[('Bear', 21, 25, 'ORG'), ('70 miles', 5, 13, ...",408.159,"['second', 'first', 'one']"
22,player yeah and I think Diablo so you're with ...,3476.200,3573.160,"[('Diablo', 24, 30, 'PERSON'), ('Paragon', 9, ...",96.960,"['Paragon', 'SS', 'Diablo']"
23,saw 100 level 100 Druid just run by I,3569.440,3575.680,"[('100', 4, 7, 'CARDINAL'), ('Druid', 18, 23, ...",6.240,"['100', 'Druid']"
24,Elon Musk is fighting goldilock zone um and I ...,3580.200,3937.160,"[('Elon Musk', 0, 9, 'PERSON'), ('goldilock zo...",356.960,"['Brave New World', 'one', 'Elon Musk']"
25,risks it's pretty good oh wait a minute health...,3959.160,4125.679,"[('a minute', 31, 39, 'TIME'), ('healthcare pr...",166.519,"['a minute', 'healthcare professional', 'first']"
26,New World is fictional drug that used to,4123.880,4127.120,"[('New World', 0, 9, 'ORG')]",3.240,['New World']
27,headon nailed know squashed uh dis in my C5 C6...,4139.520,4415.360,"[('headon', 0, 6, 'PERSON'), ('C5 C6', 27, 32,...",275.840,"['1/3', 'first', 'about a year']"
28,blackout for several days in in in,4417.480,4421.120,"[('several days', 13, 25, 'DATE')]",3.640,['several days']
29,Austin you've got a Hydro power plant you can ...,4419.360,4661.239,"[('Austin', 0, 6, 'PERSON'), ('Hydro', 13, 18,...",241.879,"['Google', 'AI', 'Austin']"
30,I like I know Tesla gets a lot of 100 regulato...,4664.840,4681.080,"[('Tesla', 14, 19, 'ORG'), ('100', 0, 3, 'CARD...",16.240,"['Tesla', '100', 'Domestic Bally']"
31,for SpaceX for Starship launch is Rocket and I...,4689.960,4827.880,"[('SpaceX for Starship', 4, 23, 'WORK_OF_ART')...",137.920,"['zero', 'Pacific', 'SpaceX for Starship']"
32,whales like basically 0% um and if our that is...,4831.120,4900.239,"[('0%', 22, 24, 'PERCENT'), ('Fate', 16, 20, '...",69.119,"['one', '0%', 'Fate']"
33,pros and cons of open sourcing AI to you,4995.800,5000.320,"[('AI', 31, 33, 'PRODUCT')]",4.520,['AI']
34,"8,000 A1 100s running at Peak um and Rock's go...",5027.760,5044.280,"[('8,000', 0, 5, 'CARDINAL'), ('A1 100s', 6, 1...",16.520,"['8,000', 'A1 100s', 'Peak']"
35,zero to grock one by itself just Gro Gro Gro s...,5044.280,5382.280,"[('zero', 0, 4, 'CARDINAL'), ('Gro Gro Gro', 1...",338.000,"['Larry', 'AI', 'one']"
36,xplatform uh should be AI recommended and matc...,5399.040,6005.480,"[('xplatform', 0, 9, 'PERSON'), ('AI', 23, 25,...",606.440,"['AI', 'one', '1500']"
37,North Korea and everything they,6002.320,6008.719,"[('North Korea', 0, 11, 'GPE')]",6.399,['North Korea']
38,circus,6089.080,6093.719,"[('circus', 0, 6, 'ORG')]",4.639,['circus']
39,algorithm J Transformers uh American politics ...,6103.280,6243.199,"[('J Transformers', 10, 24, 'PRODUCT'), ('Amer...",139.919,"['Twitter', 'Truth', '100%']"
40,think I think uh Donald Trump I think he owns ...,6246.800,6391.639,"[('Donald Trump', 17, 29, 'PERSON'), ('Truth',...",144.839,"['Wikipedia', 'Donald Trump', 'Truth']"
41,well Wikipedia is very hierarchical uh,6393.800,6399.599,"[('Wikipedia', 5, 14, 'ORG')]",5.799,['Wikipedia']
42,100% all the data is open source 100% so what ...,6417.920,6460.560,"[('100%', 0, 4, 'PERCENT'), ('100%', 33, 37, '...",42.640,"['100%', 'Elon Musk']"
43,cool oh sure I mean uh what do Elon Musk been ...,6468.360,6487.639,"[('Elon Musk', 31, 40, 'PERSON'), ('Elon', 5, ...",19.279,"['Elon Musk', 'Elon', 'Musk']"
44,first part uh I did actually have the trial in...,6504.239,6549.000,"[('first', 0, 5, 'ORDINAL'), ('San Francisco',...",44.761,"['SEC', 'San Francisco', 'first']"
45,saying pay $20 million and and and admit told ...,6568.760,7567.719,"[('$20 million', 11, 22, 'MONEY'), ('sec', 12,...",998.959,"['SEC', 'one', 'Tesla']"
46,know we only have 100 Watts um and an in 8,7591.280,7601.920,"[('100', 18, 21, 'CARDINAL'), ('8', 13, 14, 'C...",10.640,"['100', '8']"
47,computer 144 trillion operations per second wh...,7598.320,7721.840,"[('144 trillion', 9, 21, 'CARDINAL'), ('second...",123.520,"['Tesla', '144 trillion', 'second']"
48,to try to understand the world with 100,7723.679,7728.920,"[('100', 36, 39, 'CARDINAL')]",5.241,['100']
49,Watts those with Hardware 4 and then Hardware ...,7727.719,7781.559,"[('Watts', 0, 5, 'ORG'), ('Hardware 4', 11, 21...",53.840,"['Watts', 'Hardware 4', 'Hardware']"
50,shelf Motors like tens of thousands hundreds o...,7793.880,8186.840,"[('Motors', 6, 12, 'ORG'), ('tens of thousands...",392.960,"['Optimus', 'one', 'Walter isacson']"
51,central philosophy of how Elon,8184.559,8189.800,"[('Elon', 26, 30, 'PERSON')]",5.241,['Elon']

In [2]:
# mac booshit
# https://github.com/Zulko/moviepy/issues/1158

import os
os.environ["IMAGEIO_FFMPEG_EXE"] = "/opt/homebrew/bin/ffmpeg"

In [3]:
from moviepy.editor import VideoFileClip

# TODO create cover picture for video with save_frame
# myclip.save_frame("frame.jpeg", t='01:00:00') # frame at time t=1h

VIDEO_FILE_PATH="/Users/cameron/code/yt-video-editor/Elon Musk War AI Aliens Politics Physics Video Games and Humanity  Lex Fridman Podcast 400.mp4"

Video Processing

In [9]:
# 4	gigantic Galactic War where trillions we are a...	602.519	707.680	[('Galactic War', 9, 21, 'EVENT'), ('one day',...	105.161	['Galactic War', 'one day', 'Galaxy']
#v = VideoFileClip()

start = df['start'][4]
end = df['end'][4]

# label video with top three entities from embeddings
label = df['top_three_entities'][4]

print(start, end)

v = VideoFileClip(VIDEO_FILE_PATH)
v2 = v.subclip(start,end)

fade_duration = 3  # Duration of the fade-out effect in seconds
v3 = v2.fadein(fade_duration) 

v4 = v3.audio_fadein(fade_duration)
v5 = v4.audio_fadeout(fade_duration)
v6 = v5.fadeout(fade_duration)

output_path = "output_" + label + ".mp4"

v6.write_videofile(output_path, codec="libx264", audio_codec="aac")

602.519 707.68

chunk:  13%|█▎        | 23686/180949 [00:40<02:33, 1026.72it/s, now=None]

Moviepy - Building video output_['Galactic War', 'one day', 'Galaxy'].mp4.
MoviePy - Writing audio in output_['Galactic War', 'one day', 'Galaxy']TEMP_MPY_wvf_snd.mp4

chunk:  13%|█▎        | 23686/180949 [00:43<02:33, 1026.72it/s, now=None]

MoviePy - Done.
Moviepy - Writing video output_['Galactic War', 'one day', 'Galaxy'].mp4

chunk:  13%|█▎        | 23686/180949 [00:53<02:33, 1026.72it/s, now=None]

Moviepy - Done !
Moviepy - video ready output_['Galactic War', 'one day', 'Galaxy'].mp4